<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <a id="menu-link" href="#">
            <div id="menu-icon">
                <p>M</p>
                <div id="menu-lines"><hr><hr><hr></div>
                <p>NU</p>
            </div>
        </a>

        <div id="front-img-div">
            <img id="front-img" src="./../images/profile.png">
        </div>
        
        <div id="main-content">
            <div class="into-section section" id="section-return" name="return" value="home">
                <h1>Hi, my name is <span>Jamie Sajdak</span></h1>
                <p class="section-paragraph">I am an aspiring web developer, formally industrial designer, with a passion for building things.
                    <br>
                    <br>I have a creative but technical mindset with a drive to learn and improve.</p>
            </div>
            <div class="section" id="section-portfolio" name="portfolio" value="projects">
                <h2>Portfolio <span>Projects</span></h2>
                <p class="section-paragraph">Below are some select projects that I am proud of from my web development training so far, projects from my industrial design career and also some self driven projects I am particuly proud of.</p>
                <div class="gallery" id="projects">
                    <div class="slide" id="orbit">
                        <div class="slide-img">
                            <img src="../images/orbit.jpg">
                        </div>
                        <p>furniture</p>
                    </div>
                    <div class="slide" id="personal-portfolio">
                        <div class="slide-img" >
                            <img src="../images/personalPortfolio.jpg">
                        </div>
                        <p>web development</p>
                    </div>
                    <div class="slide" id="shobu">
                        <div class="slide-img">
                            <img src="../images/shobu-1.jpg">
                        </div>
                        <p>boardgame design</p>
                    </div>
                    <div class="slide" id="float">
                        <div class="slide-img">
                            <img src="../images/floatEscape.jpg">
                        </div>
                        <p>interior design</p>
                    </div>
                    <div class="slide" id="travel-planner">
                        <div class="slide-img" >
                            <img src="../images/travel-thumb.JPG">
                        </div>
                        <p>web development</p>
                    </div>

                </div>
                
            </div>
            <div class="section" id="section-education" name="education" value="&certificates">
                <h2>Education <span>& Certificates</span></h2>
                <div class="education-element">
                    <a target="_blank" href="https://confirm.udacity.com/ZPT6GESG"><img class="education-img" src="../images/FrontEnd-Certificate.PNG"/></a>
                    <p>Udacity Certificate - Front End Web Development</p>
                </div>
                <div class="education-element">
                    <a target="_blank" href="https://www.freecodecamp.org/certification/fcc7637faad-66eb-4819-959b-167513323569/responsive-web-design"><img class="education-img" src="../images/freecoaecamp_ResponsiveWebDesign.PNG"/></a>
                    <p>FreeCodeCamp - Responsive Web Design</p>
                </div>
                <div class="education-element">
                    <a target="_blank" href="https://www.freecodecamp.org/certification/fcc7637faad-66eb-4819-959b-167513323569/javascript-algorithms-and-data-structures"><img class="education-img" src="../images/freecoaecamp_JSAlgorithmsAndDataStructures.PNG"/></a>
                    <p>FreeCodeCamp - JS Algorithms and Data Structures</p>
                </div>
                <div class="education-element">
                    <img class="education-img" src="../images/nottingham.jpg"/>
                    <p>Nottingham Trent University - Furniture and Product Design</p>
                </div>
                
            </div>
            <div class="section" id="section-contact" name="contact" value="me">
                <h2>Contact <span>Me</span></h2>
                <p>Thank you for taking the time to view my portfolio!</p>
                <p class="contact">jamie.sajdak@gmail.com</p>
                <p class="contact">Toronto, ON</p>
                <p class="contact">(647) 465 4864</p>
                
            </div>

        </div>


        <footer id="footer-div">
            <img id="footer-paper" src="../images/torn-paper.png">
            <div id='footer-background'>
                <div id="menu"></div>
                <img img src='../images/menu-cross.png' id="gallery-cross">
                <div id="popup-gallery-container"></div>
                <div id="footer-contact">
                    <a href="mailto:jamie.sajdak@gmail.com" target="_blank" class="footer-social-icon"><img id="email" src="../images/emailImg.png"></a>
                    <a href="https://github.com/Jam52" target="_blank" class="footer-social-icon"><img id="github" src="../images/githubImg.png"></a>
                    <a href="https://www.linkedin.com/in/jamie-sajdak-07559237/" target="_blank" class="footer-social-icon"><img id="linkedin" src="../images/linkedIn.png"></a>
                </div>
            </div>
        </footer>
    </body>
</html>