<!DOCTYPE html>
<div id="gallery-html">
    <div class="popup-gallery" id="orbit-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/orbit-1.png" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/orbit-2.png" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/orbit-3.png" class="thumb-img">
            </div>
        </div>
        
        <h2>Orbit Coffee Table</h2>
        <p>The Orbit coffee table was the table that kicked off my father and my side business of high end furniture. <br><br>
        It was featured in many magazines and even on the tv show Bit Bang Therory. Made of steam bent walnut with a uv bonded glass top.</p>
    </div>
    
</div>
