<!DOCTYPE html>
<div id="gallery-html">
    <div class="popup-gallery" id="orbit-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/orbit-1.png" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/orbit-2.png" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/orbit-3.png" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/orbit-4.jpg" class="thumb-img">
            </div>
        </div>
        
        <h2>Orbit Coffee Table</h2>
        <p>The Orbit coffee table was the table that kicked off my father and my side business of high end furniture. <br><br>
        It was featured in many magazines and even on the tv show Bit Bang Therory. Made of steam bent walnut with a uv bonded glass top.</p>
    </div>

    <div class="popup-gallery" id="personal-portfolio-gallery">
        <img src="../images/personalPortfolio-1.JPG" class="main-img">
        
        
        <h2>Personal Portfolio</h2>
        <p>HTML, SASS, JavaScript, Webpack <br><br>
        This personal portfolio website was an exercise to improve my knowladge of html, css and webpack.
        The main focus during the building of the app was on reactive layouts, getting to better grips with flex and grid, and diving into transitions and animations.
        </p>
    </div>

    <div class="popup-gallery" id="travel-planner-gallery">
        <img src="../images/travel-1.JPG" class="main-img">
        <h2>Travel Planner</h2>
        <p>HTML, SASS, JavaScript, Webpack <br><br>
        This was the final project for Udacity's front end web development certificate. Main features we were to impliment were chaining together several API's in order to dynamically add infomation to the DOM and the simple node/express server. <br><br>
        <br><br>
       <a class="gallery-link" target="_blank" href="https://infinite-lowlands-79665.herokuapp.com/">Hosted on Heroku!</a>
        </p>
    </div>

    <div class="popup-gallery" id="shobu-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/shobu-1.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/shobu-2.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/shobu-3.jpg" class="thumb-img">
            </div>
        </div>
        
        <h2>Shobu</h2>
        <p>Shobu is an abstract strategy board game for 2 players. It was designed and developed with my co-designer Manoli Vranas.<br><br>
            As one of the first games we designed together set out to design a classic feeling game akin to chess, to this end we were very succesfull as it garnered amazing feedback on its release and selling out its first print run only a few short months.</p>
    </div>

    <div class="popup-gallery" id="float-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/float-1.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/float-2.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/float-3.jpg" class="thumb-img">
            </div>
        </div>
        
        <h2>Float Escape</h2>
        <p>Interior Design Project <br><br>
        This project was to design a float therapy center. The aesthetic concept was for a modern clean design with a roman bath inspiration. <br><br>
        The main difficulty was implimenting the design intent is a small space, as well as fitting all the required equipment and office areas in the floor plan.
        </p>
    </div>

    <div class="popup-gallery" id="dmz-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/DMZ-1.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/DMZ-2.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/DMZ-3.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/dmz-4.jpg" class="thumb-img">
            </div>
        </div>
        
        <h2>DMZ Toronto</h2>
        <p>DMZ is a tech community accelerator with an aim to help startups build great businesses by connecting them with customers, capital and experts. <br><br>
        The design relects the youthfull, future forward community whilest still feeling professional and business oriented.</p>
    </div>
    
</div>
