<!DOCTYPE html>
<div id="gallery-html">

    <div class="popup-gallery" id="orbit-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/orbit-1.png" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/orbit-2.png" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/orbit-3.png" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/orbit-4.jpg" class="thumb-img">
            </div>
        </div>
        
        <h2>Orbit Coffee Table</h2>
        <p>The Orbit coffee table was the table that kicked off my father and my side business of high end furniture. <br><br>
        It was featured in many magazines and even on the tv show Bit Bang Therory. Made of steam bent walnut with a uv bonded glass top.</p>
    </div>

    <div class="popup-gallery" id="madame-mimis-gallery">
        <img src="../images/madam-mimis-1.jpg" class="main-img">
        
        
        <h2>Madame Mimi's</h2>
        <p>React, css, JavaScript <br><br>
        Jamies wife Mia (Mimi) has a dream of opening a cocktail bar called Madame Mimi's. Built as an exersise in React and an ode to that dream using cocktaildb.com API.<br><br>
        <a class="gallery-link" target="_blank" href="https://github.com/Jam52/cocktail-app">View on gubhub!</a><br><br>
        <a class="gallery-link" target="_blank" href="https://vigilant-minsky-54c7d5.netlify.app/">Hosted on Netlify!</a>
        </p>
    </div>

    <div class="popup-gallery" id="travel-planner-gallery">
        <img src="../images/travel-1.JPG" class="main-img">
        <h2>Travel Planner</h2>
        <p>HTML, SASS, JavaScript, Webpack <br><br>
        This was the final project for Udacity's front end web development certificate. Main features we were to impliment were chaining together several API's in order to dynamically add infomation to the DOM and the simple node/express server. <br><br>
        
        <a class="gallery-link" target="_blank" href="https://github.com/Jam52/FrontEnd-Capstone-TravelApp">View on gubhub!</a><br><br>
        <a class="gallery-link" target="_blank" href="https://infinite-lowlands-79665.herokuapp.com/">Hosted on Heroku!</a>
        </p>
    </div>

    

    <div class="popup-gallery" id="personal-portfolio-gallery">
        <img src="../images/personalPortfolio-1.JPG" class="main-img">
        
        
        <h2>Personal Portfolio</h2>
        <p>HTML, SASS, JavaScript, Webpack <br><br>
        This personal portfolio website was an exercise to improve my knowladge of html, css and webpack.
        The main focus during the building of the app was on reactive layouts, getting to better grips with flex and grid, and diving into transitions and animations.<br><br>
        <a class="gallery-link" target="_blank" href="https://github.com/Jam52/FrontEnd-Capstone-TravelApp">View on gubhub!</a>
        </p>
    </div>

    <div class="popup-gallery" id="travel-planner-gallery">
        <img src="../images/travel-1.JPG" class="main-img">
        <h2>Travel Planner</h2>
        <p>HTML, SASS, JavaScript, Webpack <br><br>
        This was the final project for Udacity's front end web development certificate. Main features we were to impliment were chaining together several API's in order to dynamically add infomation to the DOM and the simple node/express server. <br><br>
        
        <a class="gallery-link" target="_blank" href="https://github.com/Jam52/FrontEnd-Capstone-TravelApp">View on gubhub!</a><br><br>
        <a class="gallery-link" target="_blank" href="https://infinite-lowlands-79665.herokuapp.com/">Hosted on Heroku!</a>
        </p>
    </div>

    <div class="popup-gallery" id="shobu-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/shobu-1.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/shobu-2.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/shobu-3.jpg" class="thumb-img">
            </div>
        </div>
        <h2>Shobu</h2>
        <p>Shobu was designed with my co-designer Manolis Vranas and published by:<br><br> <a class="gallery-link" href="https://www.smirkanddagger.com/">Smirk and Dagger Games</a></a><br><br>
            As one of the first games we designed together set out to design a classic feeling game akin to chess, to this end we were very succesfull as it garnered amazing feedback on its release and selling out its first print run only a few short months.</p>
    </div>

    <div class="popup-gallery" id="float-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/float-1.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/float-2.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/float-3.jpg" class="thumb-img">
            </div>
        </div>
        
        <h2>Float Escape</h2>
        <p>Interior Design Project <br><br>
        This project was to design a float therapy center. The aesthetic concept was for a modern clean design with a roman bath inspiration. <br><br>
        The main difficulty was implimenting the design intent is a small space, as well as fitting all the required equipment and office areas in the floor plan.<br><br>
        Designed with lead designer Nino Pulsinelli at: <br><br> <a class="gallery-link" href="www.pulsinelli.com">Pulsinelli Design</a></p>
    </div>

    <div class="popup-gallery" id="dmz-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/DMZ-1.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/DMZ-2.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/DMZ-3.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/dmz-4.jpg" class="thumb-img">
            </div>
        </div>
        <h2>DMZ Toronto</h2>
        <p>The DMZ is a tech acceleator with an aim to help small tech startups helping them build great businesses by connecting them with customers, capital, experts and a community of entrepreneurs<br><br>
            The design reflects the youthfull community while creating a proffesional envirment<br><br>
        Designed with lead designer Nino Pulsinelli at: <br><br> <a class="gallery-link" href="www.pulsinelli.com">Pulsinelli Design</a></p>
    
    </div>

        <div class="popup-gallery" id="summit-gallery">
            <img src="#" class="main-img">
            <div id="thumb-imgs">
                <div class="thumb-container selected-thumb">
                    <img src="../images/summit-1.jpg" class="thumb-img">
                </div>
                <div class="thumb-container">
                    <img src="../images/summit-3.jpg" class="thumb-img">
                </div>
                <div class="thumb-container">
                    <img src="../images/summit-2.jpg" class="thumb-img">
                </div>
            </div>
            
            <h2>Summit Coffee Table</h2>
            <p>The Summit coffee table was designed to be able to be mass produced, with three identical curved sections bolted together for form a stable base.</p>
        </div>

    <div class="popup-gallery" id="move-gallery">
        <img src="#" class="main-img">
        <div id="thumb-imgs">
            <div class="thumb-container selected-thumb">
                <img src="../images/move-3.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/move-2.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/move-4.jpg" class="thumb-img">
            </div>
            <div class="thumb-container">
                <img src="../images/move-5.jpg" class="thumb-img">
            </div>
        </div>
        <h2>Move Fitness</h2>
        <p>Move Fitness is a Womens Gym with an emphasis on getting strong. We designed the aesthetic to look femanine yet strong and also reflect the boutque nature of the business. <br><br>
            Designed with lead designer Nino Pulsinelli at: <br><br> <a class="gallery-link" href="www.pulsinelli.com">Pulsinelli Design</a></p>
    </div>

    
</div>
