//Colors
$color-primary: #f7931e;
$color-secondary: #2e1e33;
$color-light-grey: #b1b1b1;
$color-dark-grey: #666;
//fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
$paragraph-font: 'Raleway', sans-serif;
$title-font: 'Amatic SC', cursive;


//Media query break-points
$media-break-point-tablet: 850px;
$media-break-point-phone: 500px;

//background img 
body {
    background-image: url('./../images/background.png');
    background-size: 100vw;
    background-repeat: repeat-y;
    background-color: #f8f8f8;
}


#main-content {
    margin: 5%;
}

#front-img-div {
    transition-duration: 1.5s;
    z-index: 21;
    position: fixed;
    bottom: -2px;
    right: 5vw;

    #front-img {
        width: 35vw;
    }
}

.section {
    min-height:75vh;
    width: 80vw;
    max-width: 900px;
    padding-bottom: 20vh;

    .section-paragraph {
        padding-bottom: 2vh;
    }
}

h1 {
    padding: 40px 0px;
    font-family: $title-font;
    font-size: 4.5em;
    color: $color-primary;

    span {
        color: $color-secondary;
    }
}

h2 {
    padding: 0 0 40px 0;
    font-family: $title-font;
    font-size: 3.5em;
    color: $color-primary;

    span {
        color: $color-secondary;
    }
}

p {
    font-family: $paragraph-font;
    font-size: 1.4em;
    color: $color-light-grey;
}

a {
    text-decoration: none;
}

#section-return {
    width: 60vw;
}

//@extend
.load {
        opacity: 1;
    }


//Media query for phone size
@media (max-width: $media-break-point-tablet) {
    #section-return {
        
        h1 {
            padding-top: 40px;
            font-size: 3.5em;
        }
    }
    
}

@media (max-width: $media-break-point-phone) {
    h1 {
        font-size: 3em;
    }

    .section {
        min-height:83vh;
    }

    #menu-icon {
        p {
            display: none;
        }
    }
    #section-return {
        width: 80vw;
    
    }
    
}


//keyframes
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}