@import "base";

#section-contact {
    p {
        padding: 0.2em;
    }

    h3 {
        margin-bottom: 1.5em;
    }

    .contact {
        color: $color-light-grey;
    }
}

.contact-form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
