@import 'base';

.gallery {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;

    

    .slide {
        max-width: 350px;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 7%;
        background-color: #fff;
        cursor: pointer;
        
    

        .slide-img {
            position: relative;
            border: 1px $color-light-grey solid ;
            width: 100%;
            padding-top: 100%;
            overflow: hidden;
            margin-bottom: 15px;
            

            img {
                transition-duration: 0.3s;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
            }
        }

        p {
            font-family: $title-font;
            font-size: 2em;
            text-align: center;
            transition-duration: 0.2s;
        }

        &:hover {

            div img {
                top: -5%;
                left: -5%;
                height: 110%;
            }
            
            p {
                transform: scale(1.02);
                color: $color-primary;
            }
        }
    }
}

#gallery-cross {
    opacity: 0;
    width: 4vh;
    align-self: flex-end;
    margin: 1vw 3vw;
    cursor: pointer;
}

#popup-gallery-container{
    height: 80vh;
    width: 90vw;
    margin: auto;

}

.popup-gallery {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 15vh;
    grid-template-areas:
        "header header main main main"
        "para para main main main"
        "para para main main main"
        "img2 img2 main main main";
    justify-content: start;
    column-gap: 5vw;
    row-gap: 5vw;
    

    .main-img {
        grid-area: main;
        justify-self: center;
        align-self: start;
        max-width: 100%;
        max-height: 100%;
    }

    h2 {
        grid-area: header;
        
    }

    p {
        grid-area: para;
        font-size: 1em;
    }

    #thumb-imgs {
        height: 100%;
        grid-area: img2;
        align-self: end;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        column-gap: 15px;
        row-gap: 15px;

        .thumb-container {
            height: 100%;
            width: 20vh;
            max-width: 100%;
            overflow: hidden;
            transition-property: transform;
            transition-duration: 0.3s;

            &:hover {
                transform: scale(1.05);
            }

            img {
                height: 100%;
                object-fit: contain;
                cursor: pointer;    
            }
        }

        .selected-thumb {
            border: 3px solid $color-primary;
            transform: scale(1.05);
        }

    }

}





//Media query for tablet size
@media (max-width: $media-break-point-tablet) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        .slide p {
            font-size: 1.5em;
        } 
    }

    .popup-gallery {
        grid-template-areas:
            "header header main main main"
            "header header main main main"
            "para para main main main"
            "para para img2 img2 img2";

        p {
            align-self: end;
        }
    }
}

//Media query for phone size
@media (max-width: $media-break-point-phone) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        .slide p {
            font-size: 1em;
        }
    }

    .popup-gallery {
        grid-template-rows: 60px 1fr 10vh 1fr;
        grid-template-areas:
            "header header header header header"
            "main main main main main"
            "img2 img2 img2 img2 img2"
            "para para para para para";
        column-gap: 3vw;
        row-gap: 2vh;

            .thumb-container {
                height: 10vh;
            }

        p {
            align-self: end;
            font-size: 0.9em;
        }
    }
    
}